@media (max-width: 846px) and (min-width: 780px) {
    .site-header__content {
        padding: 20vh;
    }

    .site-header__name {
        font-size: 50px;
    }

    .site-header__position {
        font-size: 25px;
    }

    .module__header {
        font-size: 25px;
    }
}

@media (max-width: 779px) and (min-width: 643px) {
    .site-header__content {
        padding: 20vh;
    }

    .site-header__name {
        font-size: 50px;
    }

    .site-header__position {
        font-size: 25px;
    }

    .site-footer {
        padding: 10px;
    }

    .module__header {
        font-size: 25px;
    }

    .module__header--contact, .site-footer {
        text-align: center;
    }

    .module__twocolumns {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 642px) {
    .navigation input:checked + ul {
        display: block;
    }

    .navigation label {
        display: block;
        text-align: right;
    }

    .navigation ul {
        display: none;
    }

    .navigation ul li {
        display: block;
        padding: 5px;
    }

    .site-header__content {
        padding: 15vh;
    }

    .site-header__name {
        font-size: 50px;
    }

    .site-header__position {
        font-size: 25px;
    }

    .site-footer {
        padding: 10px;
    }

    .module--contact {
        padding-bottom: 45px;
    }

    .module__header {
        font-size: 25px;
    }

    .module__header--contact, .site-footer {
        text-align: center;
    }

    .module__icons--about {
        margin: 5px;
    }

    .module__twocolumns {
        width: 100%;
        text-align: center;
    }

    .module__twocolumns--contact {
        display: block;
        text-align: center;
        width: 100%;
    }

    .portfolio__item {
        display: block;
        width: 100%;
    }
}
