/* start general */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, textarea {
    font-family: 'Lato', sans-serif;
}

body {
    color: #291f1a;
    margin: 0;
    font-weight: 300;
    background-color: #fff;
}


.navigation {
    width: 100%;
    /*background-color: #f9fcfe;*/
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    top: 0;
    z-index: 2;
    font-weight: bold;
}

.navigation input, .navigation label {
    display: none;
}

.navigation label {
    padding: 20px;
}

.navigation ul {
    margin: 0;
    float: right;
}

.navigation ul li {
    display: inline-block;
    padding: 20px 40px;
}

.navigation ul li a, .navigation label {
    color: #1ac056;
    text-decoration: none;
}


.site-header {
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: top center;
    color: #fff;
    height: 70vh;
    position: relative;
}

.site-header__content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

.site-header__name {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 70px;
}

.site-header__name--distinction {
    color: #1ac056;
    font-weight: 400;
}

.site-header__position {
    font-weight: 200;
    font-size: 35px;
}


.site-footer {
    padding: 2px 80px 2px;
    background-color: #1A2F40;
    color: #fff;
}


.module {
    padding: 0 80px 60px;
    width: 100%;
    background-color: #fff;
}

.module--about {
    background-color: #f9fcfe;
    box-shadow: 0px 3px #E5E5E5;
    overflow: hidden;
}

.module--contact {
    background-color: #213b50;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: initial;
}

.module--skills {
    text-align: center;
}


.module__avatar {
    width: 70%;
    max-width: 250px;
    border: 14px #fff solid;
    border-radius: 15px;
    display: block;
    margin: auto;
}

.module__distinction {
    color: #1ac056;
}

.module__header {
    text-align: center;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: 300;
    font-size: 30px;
}

.module__header--contact {
    margin-top: 0;
    text-align: left;
    margin-bottom: 30px;
}

.module__icons {
    display: inline-block;
}

.module__icons--about {
    margin: 20px;
}

.module__icons--contact {
    font-size: 30px;
    margin: 10px;
}

.module__paragraph {
    line-height: 25px;
}

.module__paragraph--contact {
    margin-bottom: 12px;
}

.module__twocolumns {
    width: 49%;
    display: inline-block;
}

.module__twocolumns--about {
    vertical-align: middle;
}

.module__twocolumns--contact {
    vertical-align: top;
    margin-bottom: 20px;
}


.portfolio {
    font-size: 0;
    text-align: center;
    width: 100%;
}

.portfolio__content {
    border: 1px #fff solid;
    margin: 10px;
    position: relative;
    height: 330px;
    padding: 2px;
}

.portfolio__header {
    margin-top: 15px;
    margin-bottom: 10px;
}

.portfolio__inner {
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 0;
    left: 0;
    padding: 5px;
    line-height: 12px;
    top: 50%;
    /* 50% rodzica */
    transform: translateY(-50%);
    /* 50% swoje */
}

.portfolio__item {
    height: 350px;
    width: 33%;
    background-size: cover;
    background-position: center;
    display: inline-block;
    position: relative;
    font-size: initial;
}

.portfolio__item--1 {
    background-image: url("../img/portfolio1.jpg");
}

.portfolio__item--2 {
    background-image: url("../img/portfolio2.jpg");
}

.portfolio__item--3 {
    background-image: url("../img/portfolio4.jpg");
}

.portfolio__link:hover {
    color: #1ac056;
}

.portfolio__mask {
    width: 100%;
    height: 100%;
    background-color: rgba(42, 61, 79, 0.8);
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.portfolio__mask:hover {
    opacity: 1;
}

.portfolio__subheader {
    margin-top: 15px;
    margin-bottom: 10px;
}


.form {
    background-color: #213b50;
    color: #fff;
}

.form :focus {
    background-color: #4e708c;
    outline: none;
    border: 1px solid #fff;
}

.form__item {
    width: 100%;
    margin-bottom: 10px;
    background-color: #2b4a64;
    border: 1px solid #213b50;
    color: #fff;
    padding: 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: lightgray;
}
::-moz-placeholder { /* Firefox 19+ */
    color: lightgray;
}
:-ms-input-placeholder { /* IE 10+ */
    color: lightgray;
}
:-moz-placeholder { /* Firefox 18- */
    color: lightgray;
}

.form__submit {
    padding: 15px 30px 15px 30px;
    text-transform: uppercase;
    font-weight: bold;
    float: right;
    background-color: springgreen;
    border: 1px solid #fff;
}

.form__submit:hover {
    cursor: pointer;
}
