.footer-widget-1 .widget {
	margin: 0 0 1em;
}

.right-sidebar .content-area {
	float: left;
	margin-right: 0;
	width: 100%;
}

.right-sidebar .widget-area, #secondary, .widget_nav_menu ul li::before {
	display: none;
}

.site-branding {
	max-height: 75px;
}

.site-footer {
	padding-bottom: 1em;
}

.site-header, .footer-widgets {
	padding-top: 1em;
}

.site-header, .site-footer {
	opacity: 0.6;
}

.site-info {
	padding: 1em 0;
}

.widget_nav_menu ul, .widget_nav_menu ul li {
	display: inline;
	list-style: none;
}

.woocommerce-page {
	background-image: none !important;
}
