* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: #fff;
}

.bg-img {
    position: absolute;
    background-image: url("images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.grid-container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.25fr auto 0.25fr;
    grid-template-columns: 0.25fr auto 0.25fr;
    -ms-grid-rows: 20% 70% 8%;
    grid-template-rows: 20% 70% 8%;
    grid-template-areas: ". logo ." ". content ." ". footer .";
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
}

.logo,
.content,
.footer {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.logo {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: logo;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.logo img {
    max-height: 100%;
}

.content {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: content;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    line-height: 1.5;
}

.content h1 {
    margin-bottom: 12px;
}

.content p a,
.content p .a:visited {
    color: darkorange;
}

.footer {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: footer;
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
}
